<h1>Teams</h1>

<div class="row">
  <table class="table table-bordered table-hover">
    <thead class="thead-light">
  <div class="col s12 m10 offset-m1 l9 offset-l1">
    <div class="post-preview">
      <a href="samplePost.html">
        <h4 class="post-title titleFont">
          <% @teams.each do |record| %>
            <tr>
              <%#= render 'shared/add_remove_button', record: record %>
              <td>
                <%#= render 'shared/poster', record: record %>
              </td>
              <td><%= record.team_name %></td>
              <td style="width: 5%"><%= link_to('Edit', edit_team_path(record), class: 'btn btn-primary') %></td>
            </tr>
          <% end %>
        </h4>
      </a>
    </div>
    <hr>
  </div>
  </table>
</div>
</div>