<h1>Teams</h1>

<div class="row">
  <div class="col s12 m10 offset-m1 l9 offset-l1">



    <div class="post-preview">
      <a href="samplePost.html">
        <h4 class="post-title titleFont">
          <%= %>
        </h4>
      </a>
      <p class="post-meta"><i class="fa fa-clock-o"></i>by <a href="#">Author name</a></p>
    </div>
    <hr>


<!--    <div class="row">-->
<!--      <a href="#" class="btn-large waves-effect waves-light grey darken-2">Older posts  <i class="fa fa-chevron-right"></i></a>-->
<!--    </div>-->




  </div>
</div>
</div>