<body>
<main>
  <h1>Ideas</h1>
</main>

<div class="row">
  <table class="table table-bordered table-hover">
      <div class="post-preview">
        <h4 class="post-title titleFont">
          <% @ideas.each do |record| %>
            <tr>
              <% unless !record.visible && record.users_id != current_user.id %>
                <td>
                  <%= link_to record.idea_name, idea_path(record), method: :get %>
                </td>
                <td>
                  <% unless record.visible %>
                      [draft]
                  <% end %>
                </td>
                <%if record.users_id == current_user.id %>
                  <td class="table-row">
                    <% if policy(record).destroy? %>
                      <%= link_to "Destroy", idea_path(record),
                                  method: :delete,
                                  data: { confirm: "Are you sure?" },
                                  class: 'btn btn-outline-danger' %>
                    <% end %>
                  </td>

                  <td class="table-row">
                    <% if policy(record).update? %>
                      <%= link_to "Edit", edit_idea_path(record), class: 'btn btn-primary' %>
                    <% end %>
                  </td>
                <% end %>
              <% end %>
            </tr>
          <%end %>
        </h4>
      </div>
      <hr>
  </table>
</div>
</div>
</body>
