<ul class="list-group">
  <% @idea.comments.each do |comment| %>
    <li class="list-group-item">
      <%= link_to comment.user.first_name, comment.user %>
      <p><%= comment.comment %></p>

      <% if policy(comment).destroy? %>
        <p>
          <%= link_to 'Destroy Comment', idea_comment_path(comment),
                      method: :delete,
                      data: { confirm: "Are you sure?" } %>
        </p>
      <% end %>
    </li>
  <% end %>
</ul>
