<body>
<main>
  <h1>Users</h1>
</main>

<div class="row">
  <table class="table table-bordered table-hover">
      <div class="post-preview">
        <h4 class="post-title titleFont">
          <% @users.each do |user| %>
            <tr>
              <td class="table-row"></td>
              <td><%=link_to user.first_name, user %> <%= link_to user.last_name, user %></td>
              </td>
            </tr>
          <% end %>
        </h4>
      </div>
      <hr>
  </table>
</div>
</div>
</body>
