<h1><%record%></h1>
<% if record.present?%>
  <td style="width: 5%"><%= link_to('', teams_path(record),
                                    method: :patch,
                                    class: 'btn btn-success btn-circle fa fa-plus') %></td>
<% else %>
  <td style="width: 5%"><%= link_to('', teams_path(record),
                                    method: :delete,
                                    class: 'btn btn-secondary btn-circle fa fa-times',
                                    id: 'remove_from_collection') %></td>
<% end %>