<div class="i-identity-page i-about-us-page ng-isolate-scope" ga-content-group="About">
  <div class="container">
    <h1>About Us</h1>


        <h5 class="i-vertical-centered">Our mission is to empower people to unite around ideas that matter to them and together make those ideas come to life.</h5>


    <div class="row">
      <div class="col-lg-7 col-sm-8 col-xs-10">
        <div class="i-history">
          <p class="i-nutshell">Millions of people around the world visit Idea Box to find clever and unconventional things that solve everyday problems large and small. By giving entrepreneurs everywhere a platform to launch new and groundbreaking products, we help surface innovations in tech, design, and much more, all before they go mainstream.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="i-chunky-hero-section i-chunky-hero-header">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
          <h4>The Idea Box Community</h4>
          <p>Powered by curiosity, the Idea Box community has helped bring more than 800,000 innovative ideas to life since 2008. Today, our group of backers is more than 9 million strong, representing 235 countries and territories. Always on the lookout for new solutions to everyday problems, our community thrives on making clever discoveries before everyone else. From live campaigns to ready-to-ship tech, curious humans rely on Idea Box to find the latest innovations in tech and design.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="i-chunky-hero-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
          <h2>Founded to Empower Innovation</h2>
          <p>Our founders were inspired to create Idea Box based on their own experiences trying to make ideas come to life. Danae Ringelmann produced a play but couldn’t get funding to take it to the next level. Eric Schell struggled to fundraise for a Chicago theater company. Slava Rubin tried to raise funds to find a cure for Multiple Myeloma, the disease that killed his father. Then, they had an idea. They could use the internet to bring people together to empower innovation.</p><p>Danae, Eric, and Slava founded Idea Box in 2021 because they believed that you should choose the ideas that come to life. You and your fellow innovation seekers should get to change the world. It’s time to start discovering the next big idea.</p>
        </div>
      </div>
    </div>
  </div>
</div>