
<div class="container">
  <h2>Careers</h2>
  <p>At Idea Box, we believe exceptional companies start with exceptional people. Join us as we work to provide the ideal platform to launch new ideas and discover innovative products.</p>

  <h5>Grow with us</h5>
  <p>We’re headquartered in San Francisco’s SoMa district and have teammates all across the world.</p>
</div>